/*  Geral  */
body h1 {
    color: #16459e;  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(32,30,30);
    border: none;
    font-size: 20px;
}

#containerText {
    display: flex;
    align-items: center;
    position: ;
}

#containerText h1 {
    display: flex;
    align-items: center;
    position: relative;
    left: 2rem;
}

body {
    background-image: url('../img/fundo1.png');
    background-size: cover;
}

textarea:focus, input:focus {
    outline: none;
    /* Tira a borda automática do input e text area */
}

h1 {
    font-size: 35px;
}

/* container do login */
#login-container {
    background-color: #FFF5;
    width: 380px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 30px;
    text-align: center;
}

#login-container a {
    color: rgb(32,30,30);
    color: rgb(32,30,30);
    margin-top: -12px;
    margin-bottom: 40px;
    font-size: .8rem;
} 

form {
    margin-top: 30px;
    margin-bottom: 40px;
}

label, input {
    display: block;
    width: 100%;
    text-align: left;    
}

label {
    font-weight: bold;
    font-size: .8rem;
}

input {
    border-bottom: 2px solid #323232;
    padding:6px;
    font-size: 1rem;
    border-radius: 10px;
    margin-bottom: 20px;
}

#forgot-pass {
    text-align: right;
    display: block;
}

input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    height:40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #FFF;
    background-color: #08558b;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #145f1b19;
    color: rgb(31,29,29);
    transition: 0.5s;
}

input[type="submit2"] {
    text-align: center;
    font-weight: bold;
    height:28px;
    border-radius: 20px;
    margin-top: 30px;
    color:  #08558b;
    background-color: #a0acb4;
    cursor: pointer;
}

input[id="limp"]:hover {
    color: rgb(51,49,49);
    background-color: #f1f5f2;
    transition: 0.5s;
}

input[id="canc"]:hover {
    color: rgb(51,49,49);
    background-color: #c43c3c;
    transition: 0.5s;
}

/*  redes sociais  */
#social-container img {
    height: 50px;
    width: 50px;   /*tamanho dos icones*/
    background-color: rgb(214, 214, 219);
    border-radius: 50%;
    line-height: 40px;
    margin:8px;
    margin-bottom:30px;
    cursor: pointer;
}

#social-container img:hover {
      background-color: rgba(173, 173, 169, 0.137);
      border-radius: 50%;
      line-height: 40px;
  }

#register-container p {
    color: rgb(32,30,30);
    margin-bottom: -20px;
    font-size: 1.1rem;
}